default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\Tests\permissions_by_term\Behat\Context\PermissionsByTermContext
      paths:
        features: '%paths.base%/modules/permissions_by_term/tests/src/Behat/Features'
  extensions:
    Behat\MinkExtension:
      base_url: http://localhost
      default_session: selenium_chrome
      sessions:
        selenium_chrome:
          selenium2:
            wd_host: http://127.0.0.1:4444/wd/hub
            browser: chrome
            capabilities:
              extra_capabilities:
                chromeOptions:
                  args:
                    - "--no-sandbox"
                    - "--headless"
                    - "--disable-gpu"
    Drupal\DrupalExtension:
      blackbox: ~
      drupal:
        drupal_root: '%paths.base%'
      api_driver: 'drupal'
      drush:
        alias: 'local'

